> #### Setup  

> Before running data.world notebooks for the first time, you'll need to:  
1. Install data.world's Python package, including optional `pandas` dependencies: 
```shell
pip install git+git://github.com/datadotworld/data.world-py.git#egg=project[pandas]
```
1. Obtain an API access token at https://data.world/settings/advanced
1. Store API access token using the `dw` command-line tool: 
```shell
dw configure
```

> Once your environment is set up, these steps do not need to be repeated for other data.world notebooks.

In [3]:
import datadotworld as dw
import charts_function_list
import os

In [4]:
base_, data, outputs = charts_function_list.folder_setup()

In [2]:
# Datasets are referenced by their path
dataset_key = 'len/intelligence-of-dogs'

# Or simply by their URL
dataset_key = 'https://data.world/len/intelligence-of-dogs'

In [5]:
# Load dataset (onto the local file system)
dogs = dw.load_dataset(dataset_key)  # cached under ~/.dw/cache

In [12]:
dw.query('jonloyens/an-intro-to-dataworld-dataset', 'SELECT * FROM DataDotWorldBBallStats').dataframe

      name  pointspergame  assistspergame
0      Jon           20.4             1.3
1      Rob           15.5             8.0
2   Sharon           30.1            11.2
3     Alex            8.2             0.5
4  Rebecca           12.3            17.0
5   Ariane           18.1             3.0
6    Bryon           16.0             8.5
7     Matt           13.0             2.1

In [9]:
dw.query(dataset_key, 'SELECT * FROM DataDotWorldBBallStats')

ValueError: DataFrame constructor not properly called!

In [ ]:
# See what is in it
dataset_local.describe()

# Next steps

- Run `help()` to learn more ways to access and use your data. Try:
  - `help(dw.load_dataset)`
  - `help(dw.query)`
- Learn more at: https://github.com/datadotworld/data.world-py and https://docs.data.world