In [89]:
from imdbpie import Imdb
import os
import charts_function_list

In [90]:
_,datafolder,outputs=charts_function_list.folder_setup()

In [6]:
imdb = Imdb()
imdb = Imdb(anonymize=True)

In [123]:
def title_search(title):
    return pd.DataFrame(imdb.search_for_title(title),index=[1 for x in range(len(pd.DataFrame(imdb.search_for_title('Brooklyn'))))])

In [201]:
titles_to_search=['Fast and Furious',
                  'Halloween',
                  'Nightmare on Elm Street',
                  'Saw',
                  'Friday the 13th',
                  'Star Trek','Final Destination',
                  'Rocky','Step Up',
                  'Mission Impossible','Riddick','Die Hard','Transformers','Resident Evil','Child\'s Play']
combined_titles = pd.concat([title_search(title) for title in titles_to_search],keys=titles_to_search)

#clean data
combined_titles.dropna(subset=['year'],inplace=True)
combined_titles['year']=combined_titles['year'].astype('int')
combined_titles = combined_titles[(combined_titles['year']<=2017)&(combined_titles['year']>1970)]

In [172]:
ratings_and_votes = pd.DataFrame({'Rating':[imdb.get_title_by_id(title_).rating for title_ in combined_titles['imdb_id'],
                        'Votes':[imdb.get_title_by_id(title_).votes for title_ in combined_titles['imdb_id'],
                                 'Title':[title_ for title_i ]

   A  B
0  2  2
1  3  3
2  4  4

In [204]:
combined_titles.ix['Halloween']

      imdb_id             title  year
0   tt0077651         Halloween  1978
1   tt0373883         Halloween  2007
2   tt0084825   Trick or Treats  1982
4   tt0296665         Halloween  1983
5   tt4429528         Halloween  2014
8   tt4577976         Halloween  2011
9   tt6031162        Halloween!  1994
10  tt3674384         Halloween  2014
11  tt4586024         Halloween  2014
14  tt6318242  Halloween Haunts  2009
15  tt2430774         Halloween  2012